*{
	margin: 0;
	padding: 0;
}
/*Navbar*/
.navbar.nav{
	font-size: 18px;
}
.navbar{
	position: sticky;
	top: 0;
	z-index: 1;
}

.progress{
	height: 30px;
	border-radius: 50px;
	transistion: all 0.5s ease;
}
.progress:hover{
	transform: scale(1.1);
}
.btn{
	background-color: #14a5f2;
	text-color: white;
}